div.ability-tree {
    position: relative;
    width: 100%;

    .document-node {
        position: absolute;
        z-index: 3;
        background: mix(#925525, @bg-color, 25%);
        border: 1px solid @element-border-color;
        border-radius: 5px;
        max-width: 200px;
        overflow: hidden;

        &.root-node {
            border-width: 3px;
        }

        &.animate {
            transition: transform 1s ease-out;
        }

        h4 {
            white-space: nowrap;
            margin: 0;
            display: flex;
            flex-direction: row;
            gap: 3px;
            padding: 2px;

            a.content-link {
                margin-right: auto;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

        .node-type {
            font-size: smaller;
            padding: 1px 3px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .hidden-edges {
            font-size: smaller;
            border-top: 1px solid @element-border-color;
            padding: 1px 3px;
            background: mix(@bg-color, #555, 50%);
            text-align: center;
        }

        i.fas.fa-check {
            display: none;
        }

        &.owned {
            a.add-item {
                display: none;
            }

            i.fas.fa-check {
                display: unset;
            }
        }
    }

    .document-edge {
        position: absolute;
        border-top: 1px solid @element-border-color;
        transform-origin: left;

        & > i {
            position: absolute;
            left: 50%;
            translate: -50% -50%;
            color: @element-border-color;
        }

        &.animate {
            transition: transform 1s ease-out, width 1s ease-out;
        }
    }

    &.unowned {
        a.add-item {
            display: none;
        }
    }
}