/* ----------------------------------------- */
/*  Sheet Header                             */
/* ----------------------------------------- */
@border-color: #333333;
@font-color: #2c2c2c;
@header-color: #8f5e47;
@header-background-color: rgba(105, 81, 54, 0.342);
@default-line-height: 22px;
@bg-image: url(assets/parchment_scriptorium.png);

/* Used in scriptorium */
@subheader-bg-color: #ba856e;
@header-bg-color: #dbb376;

@compact-line-height: 22px;
@large-line-height: 30px;
@background-text-color: #9e7a6f;

@nav-border-color: #694d3a;
@nav-background-color: #f0dfd3;
@nav-hover-color: #f8ece4;
@nav-active-color: #bfa694;
@nav-active-hover-color: #cfbbac;
@nav-angle-width: 22px;

.sheet.tde-actor {
    min-width: 850px;

    .window-content {
        overflow-y: scroll;

        & > form {
            display: flex;
            flex-direction: column;
        }
    }

    /* Resize notes in notes tab */
     .sheet-body div[data-tab="journal"] {
         prose-mirror-ext.editor {
            min-height: 450px;
         }
    }

    /* Resize notes on basic tab*/
    .sheet-body div[data-tab="basic"] .editor {
        min-height: 80px;
    }

    .underscore-input {
        display: flex;
        flex-direction: column-reverse;

        span.one-line{
            gap: 5px;
            > input{
                text-align: center;
                max-width: 35px;
            }
        }

        > span:first-child {
            margin: 0 2px 4px;
            font-size: smaller;
            color: #303030;
        }
        > span:last-child {
            margin: 2px 0;
            border-bottom: 1px solid #525252bd;
            line-height: @compact-line-height;

            &.value-unit-box {
                display: flex;
                flex-direction: row;
                .value input {
                    min-width: 30px;
                    width: 30px;
                }
                .unit {
                    font-size: small;
                }
            }

            input {
                background: none;
                border: none;
                padding: 0 4px;
                height: auto;

                &::placeholder {
                    color: @background-text-color;
                    font-size: small;
                }

                &:hover {
                    background-color: @input-bg-color;
                    border-radius: 5%;
                }
            }
        }
    }

    /* Helper class to hide elements*/
    .hidden {
        visibility: hidden;
    }

    /* Helper class to hide elements*/
    .hidden-display {
        display: none;
    }

    /* Text added after a text input box */
    .text-addendum {
        text-align: left;
        padding-left: 4px;
    }

    h2,
    summary {
        font-size: large;
        font-weight: bold;
        color: @header-color;
        border-bottom: 3px double @header-color;
        margin-bottom: 7px;

        &.extra-info {
            position: relative;

            span:last-child {
                position: absolute;
                right: 0px;
                bottom: 0px;
                font-size: smaller;

                > * {
                    padding-left: 3px;
                    padding-right: 2px;
                }
            }
        }
    }

    .element-split-box {
        display: flex;
        flex-direction: row;
        align-items: flex-start;

        > *:first-child {
            flex: 0 0 225px;
            margin-right: 10px;
        }

        > *:last-child {
            flex: 1 0 auto;
            display: flex;
            flex-direction: column;
        }
    }

    span.modifier {
        color: @background-text-color;
        padding: 3px 5px;

        &.editable {
            border-radius: 3px;
            cursor: text;

            &:hover {
                background-color: @input-hover-color;
            }

            & > input {
                max-width: 26px;
                height: 100%;
            }
        }
    }

    // ************************************
    //                Header
    // ************************************

    .sheet-header {
        .attr-header {
            display: flex;
            flex: 0;

            .attr-box {
                margin-left: -21px;

                &:first-child {
                    margin-left: 0;
                }

                &:nth-child(2n) {
                    margin-top: 44px;
                }

                &.dexterity {
                    margin-left: -9px;
                }
            }
        }
        
        div.status-header {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            height: fit-content;
            flex: 0.1 0.5 100px;

            .status-icon-wrapper {
                background: #54463d;
                border-radius: 3px;
                padding: 2px 2px 0 2px;
                margin: 1px;
                max-height: 28px; // Required for Firefox

                img {
                    width: 20px;
                    height: 20px;
                    margin: 1px 0;
                    border: none;
                }
            }
        }

        div.currency-header > .unit-control {
            display: flex;
            flex-direction: column;
            gap: 3px;
        }
    }

    .sheet-navigation {
        position: sticky;
        top: 12px;
        z-index: 20;
        background: @nav-background-color;
        border: 3px solid @nav-border-color;
        border-radius: 18px;
        overflow: auto;
        box-shadow: 0 4px 12px -6px mix(black, @nav-border-color, 33%);

        .nav-item {
            flex: 1;
            text-align: center;
            font-size: 20px;
            line-height: 28px;
            position: relative;

            &.compact {
                flex-grow: 0.4;
            }

            &:first-child {
                padding-left: 9px;
            }

            &:last-child {
                padding-right: 9px;
            }

            & + .nav-item {
                border-left: 1px solid @nav-border-color;
            }

            &:hover {
                background: @nav-hover-color;
                text-shadow: none;
            }

            &.active {
                background: @nav-active-color;
                font-weight: bold;
                text-shadow: none;

                &:hover {
                    background: @nav-active-hover-color;
                }
            }
        }
    }

    .divider {
        flex: 0 0 1px;
        align-self: stretch !important;
        padding: 0 !important;
        background: linear-gradient(transparent, #694d3a, transparent);
    }

    /* Row of elements shown at the top most element in each tab */
    .sheet-subheader {
        display: flex;
        justify-content: space-evenly;
        margin: 0 18px;
        border: 3px solid @nav-border-color;
        border-width: 0 3px 1px 3px;

        &:last-child {
            padding-bottom: 7px;
            border-bottom-right-radius: 50% 14px;
            border-bottom-left-radius: 50% 14px;
            box-shadow: inset 0px -2px 0px @nav-border-color, 0 4px 12px -10px mix(black, @nav-border-color, 66%);
        }

        & > div {
            padding: 10px;
            align-self: center;

            &:first-child {
                border-left: none;
            }
        }

        .sheet-subheader-item {
            > span:first-child {
                font-weight: bold;
                padding-right: 4px;
                font-size: medium;
            }

            > span > i {
                color: #a8782f;
            }
        }
    }

    // ************************************
    //                Body
    // ************************************

    .sheet-body {
        .tab {
            margin-top: 4px;

            &.header-extension {
                margin-top: -14px;

                > div:first-child {
                    margin-bottom: 4px;
                }
                .sheet-subheader {
                    padding-top: 14px;
                }
            }
        }

        .symbol-img {
            height: 30px;
            //max-width: 30px;
            border: none;
            padding: 0px 4px;
        }

        section {
            margin: 4px;
        }

        /* Displays image and biography */
        .bio-block {
            display: grid;
            grid-column-gap: 4%;
            grid-template-columns: 24% 34% 34%;

            > img {
                grid-row: span 5;

                &[data-edit]:hover {
                    box-shadow: 0 0 5px red;
                    cursor: pointer;
                }
            }

            .editor {
                grid-column: span 2;
                grid-row: span 3;
                min-height: 150px;

                .editor-container {
                    min-height: 150px;
                }
            }
        }

        /* Notes and GM-notes below the bio block */
        details.element-box > div.editor {
            overflow-y: scroll;
            overflow-x: hidden;
            min-height: 75px;
            max-height: 350px;

            .editor-content {
                min-height: 75px;
            }
        }

        .improvable {
            position: relative;

            .improve {
                display: inline-block;
                z-index: 5;
                margin-left: 6px;
                width: max-content;
                padding: 1px 3px;
                background: darksalmon;
                border-radius: 4px;
                cursor: pointer;

                &:hover {
                    background: lightsalmon;
                }

                &[disabled] {
                    background: #bbb;
                    color: var(--color-text-dark-inactive) !important;
                    cursor: not-allowed;
                }
            }

            &.offset .improve {
                position: absolute;
                top: 50%;
                left: 100%;
                transform: translateY(-50%);
            }
        }

        .ability-list-item.improvable .improve {
            margin: -1px 0 0 2px;
            padding: 1px 3px 0 3px;
        }

        .ability-list-item.ref-error{
            background-color: rgba(255, 0, 0, 0.212);
        }

        .ultimate-ability-list-content .improve {
            margin: -1px -3px -1px 3px;
        }
        .ultimate-ability-list-content .modifier {
            padding: 3px;
        }

        .extensions .extension.improvable {
            padding-right: 0;

            .improve {
                margin-left: 1px;
                padding: 0 3px;
                color: var(--color-text-dark-primary);
            }
        }

        /* Table with skills in it */
        .skill-table {
            td:first-child {
                width: 100%;
            }
        }

        /* The loadout table in the actor */
        .loadout-table {
            tr.unusable {
                border: 2px dashed red;
            }

            /* Minimal weapon row */
            tr.minimal-loadout{

                input {
                    border-bottom: 0px;
                }

                td.name-col {
                    input {
                        max-width: 100px;
                    }
                }
            }

            tr.header-row {
                /*Loadout header wit combatTechnique, style and main and offhand*/
                span.config-header {
                    display: grid;
                    grid-template-columns: 24% 20% 20% 26% 10%;
                    align-items: center;
                    width: 100%;
                    gap: 3px;
                    //font-size: small;

                    input {
                        border: none;
                    }

                    a.roll {
                        text-align: center;
                    }

                    span.stat-summary {
                        display: flex;
                        margin-left: 6px;
                        gap: 16px;

                        a.roll:before {
                            content: none;
                        }

                        span.modifier {
                            padding: 0 2px 0 0;
                        }

                        img {
                            height: 19px;
                            border: none;
                        }
                    }

                    /* Group of buttons at the right of the config-header*/
                    span.loadout-control {
                        text-align: right;
                        a {
                            padding: 0px 2px;
                            color: @background-text-color;
                        }
                    }

                    /* combatTechnique value or improvmentCost*/
                    .short-field {
                        max-width: 25px;
                        text-align: center;
                    }
                }
            }

            /* Name column in the loadout*/
            td.name-col {
                select {
                    min-width: 145px;
                }

                > a {
                    padding: 0px;
                }

                img.symbol-img {
                    padding: 0px;
                    height: 20px;
                    min-width: 35px;
                    vertical-align: middle;
                }

                span.symbol-img {
                    padding: 0px;
                }
            }

            td.damage-type {
                width: 83px;

                .damage-type-img {
                    margin-right: 2px;
                    height: 20px;
                    border: 0px;
                    opacity: 70%;
                }
            }
        }

        /* Table in CombatTab holding all Combat application*/
        .combat-application-table {
            th {
                height: @large-line-height;
            }
            tr {
                height: @compact-line-height;
            }
            td {
                height: @compact-line-height;
                width: fit-content;
            }
            td:first-child {
                max-width: 20%;
                width: 20%;
            }
            td:last-child,
            th:last-child {
                text-align: left;
            }
        }

        /* Table in CombatTab holding melee, ranged, shield and armor */
        .weapon-table {
            .damage-type {
                width: 83px;

                .damage-type-img {
                    margin-right: 2px;
                    height: 20px;
                    border: 0px;
                    opacity: 70%;
                }
            }
        }

        input[type="number"] {
            &.compact,
            &.compact-s {
                border: none;
                height: 29px;
            }
        }

        /* Table in CombatTab holding states */
        .state-table {
            tr {
                border: none;
            }

            td,
            th {
                &:last-child {
                    width: 100%;
                    text-align: left;
                    padding-left: 3px;
                }
            }

            input[type="checkbox"] {
                display: none;
            }

            input[checked] + label {
                background: @input-hover-color;

                &:hover {
                    background: @input-bg-color;
                }

                img {
                    opacity: 100%;
                }
            }

            label {
                border-radius: 20%;
                border: 2px solid @border-color;
                display: inline-block;
                height: 30px;
                width: 30px;

                &:hover {
                    background: @input-bg-color;
                }

                img {
                    border: none;
                    padding: 3px;
                    opacity: 35%;
                    filter: brightness(0) grayscale(100%);
                }
            }
        }

        .ammunition-table .effect-col {
            width: 80%;
            max-width: 200px;
        }

        /* The table to hold containers and inventory items */
        .inventory-table {
            @drag-bg-color: rgba(0, 0, 0, 0.6);
            @drag-border-color: #29221b7c;

            & + .inventory-table {
                margin-top: 12px;
            }
            
            /* InventoryContainer that is targeted druing drag & drop */
            &.focused-container {
                outline: 3px dotted rgb(212, 178, 125);
                transition: outline 1s sease-in-out 0.5s;
            }

            &.loot-container, &.trade-container {
                td:first-child {
                    padding: 0;
                    min-width: 34px;
                }

                tr > th:first-child {
                    white-space: nowrap;
                    min-width: 34px;
                    text-align: center;
                }

                td.compact {
                    min-width: 60px;
                }
            }

            /* The inventory table is for a loot container with possible loot items */
            &.loot-container {
                th:nth-child(2) {
                    text-align: left;
                    width: 50%;
                }

                th:last-child {
                    text-align: left;
                    width: 50%;
                }

                td:first-child > i {
                    font-size: 22px;
                    padding: 6px;
                    color: #674040;
                }
            }

            &.trade-container {
                .trade {
                    position: relative;
                    border: 1px solid @element-border-color;
                    background: @element-bg-color;
                    border-radius: 5px;
                    padding: 0 3px;
                    height: 100%;
                    min-width: max-content;
                    text-align: left;
                    margin: 0 1px;

                    > i {
                        position: absolute;
                        top: 4px;
                        left: 9px;
                        opacity: 0.2;
                        font-size: 24px;
                    }

                    input {
                        text-align: right;
                        max-width: 20px;
                        height: 100%;
                        padding: 0 2px;
                        border-right: 1px dotted @light-border-color;
                    }

                    .silverthalers-input {
                        max-width: 50px;
                        border: none;
                    }

                    select {
                        max-width: 50px;
                        padding: 0;
                        text-overflow: clip;
                        border-right: 1px dotted @light-border-color;
                        position: relative; // Required to apply z-index.
                        z-index: 2;
                    }
                }

                th:nth-child(2) {
                    text-align: left;
                    width: 100%;
                }
            }

            .item-list {
                column-count: 2;
                column-gap: 20px;
                margin-right: 8px;
            }

            div.sorting-header {
                display: flex;
                height: auto;
                padding: 0px !important;
                margin: 0px !important;
                

                >:first-child{
                    justify-content: center;
                    width: 34px;
                }

                >:nth-child(2){
                    flex-grow: 1;
                }

                >:nth-child(3){
                    justify-content: flex-end;
                    width: 40px;
                    margin-left: 2px;
                    margin-right: 15px;
                }

                >:nth-child(4){
                    justify-content: flex-end;
                    width: 40px;
                    margin-right: 11px;
                }

                .sorting-field {
                    display: flex;
                    place-items: center;
                }
            }

            .sorting-field:hover {
                background-color: #6f53443b;
            }

            div.item-element {
                display: flex;

                /* name and weight fields*/
                >span:nth-child(2) {
                    flex-grow: 1;
                }
            }
            

            /* Any item row in the inventory */
            .item-element {
                /* The element containing the icon of the line, its a loot sheet item*/
                //TODO: Move color constants to start of doc later
                @color-rarity-common: rgb(138, 134, 134);
                @color-rarity-uncommon: rgb(34, 62, 184);
                @color-rarity-rare: rgb(143, 23, 167);
                @color-rarity-superRare: rgb(109, 129, 19);
                @color-rarity-unique: rgb(17, 85, 26);
                @color-rarity-fate: rgb(117, 26, 26);
                @rarity-border-size: 1px;
                @color-fade: 30%;

                break-inside: avoid;
                border-bottom: 1px solid rgb(179, 179, 179);

                .note-col {
                    display: flex;
                    justify-content: space-between;
                    margin-top: 2px;
                    font-size: smaller; 
                    
                    a { 
                        align-self: center;
                    }

                    p {
                        max-height: 14px;
                        overflow-y: hidden;
                        margin: 0px 2px 4px 2px;
                    }
                }
               
                .element-body {
                    display: flex;
                    flex-grow: 1;
                    flex-flow: row nowrap;
                    align-items: center;
                    min-height: 34px;

                    input, select {
                        height: 100%;
                        border: none;
                        margin: 0px;
                        border-radius: 0;
                    }

                    /* Weight, quantity and uom */
                    .unit-col {
                        display: flex;
                        flex-direction: row;
                        flex: 0 0 50px;
                        align-items: center;
                        height: 100%;
                        border-left: 1px dotted @light-border-color;

                        input[type="number"] {
                            margin: 0px 2px;
                            min-width: 40px;
                            text-align: right;

                            &:first-child {
                                margin-left: 0;
                            }
                        }
                    }
                }

                 /* hover buttons */
                .option-col {
                    height: 100%;
                    max-width: 0;
                    min-width: 0;
                    position: relative;

                    a {
                        visibility: hidden;
                        margin-left: 5px;
                        text-shadow: 0 0 5px white;

                        &:hover {
                            text-shadow: 0 0 5px red;
                        }
                    }

                    .flexrow {
                        position: absolute;
                        flex-wrap: nowrap;
                        right: 3px;
                        top: 3px;
                    }
                }

                 &:hover .option-col a {
                    visibility: visible;
                }

                .symbol-cell {
                    width: 34px;
                    min-width: 34px;
                    min-height: 34px;
                    position: relative;
                    display: inline-block;

                    > a {
                        display: flex;
                        height: 100%;
                        align-items: center;

                        .symbol-img {
                            vertical-align: middle;
                            padding: 0px;
                            z-index: 1;
                        }
                    }

                    &::before {
                        content:"";
                        position: absolute;
                        top: 0px;
                        left: 0px;
                        width: 100%;
                        height: 100%;
                        z-index: 0;
                        
                        @bwidth: 5%;
                        @bround: 8px;
                        clip-path: polygon(
                            0 0, 100% 0, 100% 100%, 0 100%, 
                            0 50%, @bwidth 50%, 
                            @bround @bwidth, @bwidth @bround, @bwidth calc(100% - @bround), @bround calc(100% - @bwidth), calc(100% - @bround) calc(100% - @bwidth), calc(100% - @bwidth) calc(100% - @bround), calc(100% - @bwidth) @bround, calc(100% - @bround) @bwidth, @bround @bwidth,
                            @bwidth 50%, 0% 50%,
                        );                   
                    }
                }

                &.uncommon {
                    .symbol-cell::before {
                        background-color: fade(@color-rarity-uncommon, @color-fade);
                            }
                        }

                &.rare {
                    .symbol-cell::before {
                        background-color: fade(@color-rarity-rare, @color-fade);
                    }
                }

                &.superRare {
                    .symbol-cell::before {
                        background-color: fade(@color-rarity-superRare, @color-fade);
                    }
                    
                }

                &.unique {
                    .symbol-cell::before {
                        background-color: fade(@color-rarity-unique, @color-fade);
                    }
                }

                &.fate {
                    .symbol-cell::before {
                        background-color: fade(@color-rarity-fate, @color-fade);
                    }
                }
            }

            button.create-item {
                width: auto;
                min-width: max-content;
                line-height: 22px;
                margin: 3px 0 0 50%;
                translate: -50%;
            }

            .drop-down {
                position: relative;

                > a {
                    position: absolute;
                    width: 20px;
                    font-size: 20px;
                    left: calc(50% - 11px);
                    background-color: #a7885a;
                    justify-self: center;
                    border: 2px solid #a7885a;
                    border-radius: 5px;
                    border-top: 0px;

                    &:hover{
                        background-color: #ecc180;
                        text-shadow: none;
                    }
                }
            }

            .view-control-row {
                display: flex;   
                font-size: 12px;
                background-color: #a7885a8c;
                border: 2px solid #a7885a;
                padding: 2px;
                border-top: 0px;
                border-radius: 5px;
                margin-bottom: 2px;
                gap: 4px;
                > * {
                    align-self: center;
                }
            }

            div.container-row {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            .container-row {
                height: @large-line-height;
                padding: 0px 6px;
                margin-bottom: 0px;
                font-size: 18px;
                color: #ffe9cc;
                background: linear-gradient(45deg, #795827, #817057);
                i, input {
                    color: #ffe9cc;
                }

                .container-weight {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap:3px;
                    font-weight: normal;
                    
                    input[type="number"] {
                        min-width: 10px;
                        width: 30px;
                    }
                }

                .control-button-group {
                    align-items: first baseline;
                    display: flex;
                    gap: 10px;
                    justify-content: right;
                }

                &.loot-container {
                    background: linear-gradient(45deg, #3a3f5a, #7b7b7b);
                }

                .container-header-elements {
                    @separator-color: rgba(255, 255, 255, 0.125);
                    display: flex;
                    > span {
                        width: 33%;

                        /* Create low transparancy segments */
                        &:nth-child(n + 2) {
                            border-left: 2px solid @separator-color;
                        }

                        /* Icon & Name*/
                        &:first-child {
                            padding-right: 10px;

                            > a {
                                padding: 2px 4px 2px 4px;
                            }

                            > input[type="text"] {
                                padding-left: 6px;
                                width: calc(100% - 36px);
                            }
                        }

                        /* Weight modifier */
                        &:nth-child(2) {
                            font-size: 16px;
                            text-align: center;

                            > * {
                                padding-right: 5px;
                            }

                            span > i {
                                font-size: 10px;
                            }

                            input {
                                text-align: center;
                                width: 30px;
                                min-width: auto;
                            }
                        }
                    }
                }
            }

            .text-col {
                text-align: left;
            }

            td.weight-col.input-cell {
                text-align: right;

                input.weight {
                    width: calc(100% - 19px);
                }
            }

            input.simple-edit-field {
                border: none;
                background: none;
                min-width: 150px;
                width: 160px;

                &:hover {
                    background-color: #ffffff2f;
                    border-radius: 2px;
                }
            }

            /* A table cell that contains two elements. One input and a uom field */
            .unit-value-cell {
                display: flex;
                flex-direction: row;
                height: 100%;

                > *:last-child {
                    padding: 0px 3px;
                    align-self: center;
                }
            }

            .weight-col {
                text-align: right;
                padding-right: 5px;
            }

            .container-col {
                min-width: 150px;
                width: 150px;
            }

            .notes-col {
                width: 35%;
            }

            .summary td {
                font-weight: normal;
            }
        }
        /* notes tab base size */
        div.journal .editor {
            min-height: 200px;

            .editor-container {
                flex: 3 0 4em;
                margin: 3px 0 3px 6px;

                & > .editor-content {
                    position: unset;
                    min-height: 100%;
                }
            }
        }

        .condition-table {
            td:last-child {
                width: 50%;
            }

            td.modifier-col {
                width: 30px;
                color: @background-text-color;
            }
        }

        /* Table that contains weapons or armors */
        .general-table {
            .check-col {
                padding: 2px 2px;
                margin: 0px;
                text-align: center;
                min-width: 35px;
            }

            /* Element to have and editable field twice.
             * Used to handle structurepoints */
            .double-input-box {
                display: initial;

                input[type="number"] {
                    width: 30px !important;
                    min-width: 30px !important;
                    padding: 0px 3px;
                }
            }

            /* for names */
            .name-col {
                max-width: 150px;
                min-width: 150px;
                text-align: left;
            }

            .subheader-row {
                margin-bottom: 2px;
                background: linear-gradient(45deg, @subheader-bg-color, transparent);
                border-right: 0px;
                font-weight: bold;
                height: @compact-line-height;

                > th:first-child {
                    text-align: left;
                }

                > td:first-child {
                    padding-left: 5px;
                }
            }
        }

        table.multicol-table {
            display: block;
            column-count: 2;

            tbody:first-child {
                break-after: column;

                @supports not (break-after: column) {
                    /* Workaround for missing column break support in Firefox. */
                    page-break-after: always;
                    display: block;
                }

                tr:last-child {
                    border-bottom: none;
                }
            }
        }

        tr.spell-row {
            height: 36px;
        }

        .extensions {
            position: relative;
            padding: 0 !important;
            min-width: 0;

            & > div {
                position: absolute;
                width: max-content;
                right: 0px;
                bottom: -6px;
            }

            div.extension {
                display: inline-block;
                border-radius: 2px;
                padding: 0 3px;
                margin-right: 2px;
                background: #dfd1c5;
                color: #5d5b55;
                font-size: small;

                &.owned {
                    background: @nav-active-color;
                    color: black;
                }
            }

            input {
                display: none;
            }
        }

        .changelog-table {
            button {
                width: 34px;
                margin: 0;
            }

            label.header-checkbox {
                font-weight: normal;

                & > input {
                    vertical-align: middle;
                    width: 17px;
                    height: 17px;
                    margin: -1px 3px 0 6px;
                }
            }

            span.history-change {
                font-size: xx-small;
                color: #7c7b71;

                &:nth-last-child(2) {
                    font-size: smaller;
                }

                &:last-child {
                    font-size: revert;
                    color: revert;
                }
            }
        }

        .checkbox-button {
            input {
                display: none;
            }

            span {
                background: rgba(0, 0, 0, 0.1);
                border: 2px groove var(--color-border-light-highlight);
                border-radius: 3px;
                font-size: var(--font-size-14);
                line-height: 28px;
                font-family: var(--font-primary);
                cursor: pointer;
                padding: 1px 6px;
                width: 100%;
                display: block;
                text-align: center;
            }

            &:hover span, &:focus span {
                outline: none;
                box-shadow: 0 0 5px var(--color-shadow-primary);
            }
        }

        /* A list to display items taht usually only offer a name*/
        .ability-list {
            min-width: 300px;
        }

        /* Default button for rolling a d20 */
        input.roll-20-btn {
            -webkit-mask-image: url(assets/ui/dice/dice-twenty-faces-one.svg);
            mask-image: url(assets/ui/dice/dice-twenty-faces-one.svg);
            background-color: @header-color;
            width: 25px;
            height: 25px;
            padding-right: 3px;
            padding-left: 3px;

            &:hover {
                background-color: rgba(141, 78, 48, 0.582);
            }
        }

        input.roll-6-btn {
            background: url(assets/ui/dice/perspective-dice-one.svg) no-repeat;
            width: @default-line-height;
            height: @default-line-height;
            border-style: solid;
            border-radius: 50%;
            border-color: #deb887;
            color: transparent;
            padding-right: 3px;
            padding-left: 3px;
        }
    }

    /* List of tags for each itemsheet*/
    div.tag-list {
        --color-tag-bg: #d4c0b1;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 90%;
        margin-left: 3px;

        > span {
            display: flex;
            background-color: var(--color-tag-bg);
            align-items: center;
            padding: 2px 4px 2px 4px;
            margin: 1px 7px 2px 7px;
            position: relative;
            font-size: small;
            height: 18px;

            &::before {
                content: "";
                display: block;
                border-top: 9px solid var(--color-tag-bg);
                border-right: 2px solid var(--color-tag-bg);
                border-bottom: 9px solid var(--color-tag-bg);
                border-left: 9px solid transparent;
                background-color: transparent;
                position: absolute;
                top: 0px;
                left: -11px;
            }

            &::after {
                content: "";
                display: block;
                border-top: 9px solid transparent;
                border-right: 9px solid transparent;
                border-bottom: 9px solid transparent;
                border-left: 9px solid var(--color-tag-bg);
                background-color: transparent;
                position: absolute;
                top: 0px;
                right: -18px;
            }
        }
    }

    // ************************************
    //                Footer
    // ************************************
    footer.improvement {
        position: sticky;
        bottom: 0;
        left: 0;
        margin: auto -12px -12px -12px;
        padding: 6px 9px;
        border-top: 3px solid @nav-border-color;
        background: @nav-background-color;
        z-index: 5;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        gap: 9px;

        div.ability-list-content {
            max-height: 62px;
            overflow-y: auto;
            scroll-snap-type: y mandatory;

            .ability-list-item {
                scroll-snap-align: start;
                scroll-margin-top: 3px;
            }
        }

        & > span {
            text-align: center;

            & > span {
                font-size: large;
            }
        }

        label:last-child {
            font-size: large;

            input {
                display: none;
            }
        }

        a.undo-entry {
            padding: 0 4px;
            border-left: 1px solid @line-color;
        }
    }
}

li.actor a.actor-improvements {
    margin-left: 5px;
    color: #ff6400;
}

div.window-resizable-handle {
    z-index: 10;
}