#hotbar {
    li.macro.active {
        div.macro-overlay {
            position: absolute;
            width: calc(100% + 2px);
            height: calc(100% + 2px);
            left: -1px;
            top: -1px;
            display: flex;
            flex-wrap: wrap;

            button {
                visibility: hidden;
                line-height: normal;
                margin: 0;
                padding: 2px 3px;
                flex: 1 0 22px;
                background: #00000090;
                color: white;
                border: 1px solid black;
                border-radius: 0;
                text-shadow: 0 0 3px black, 0 0 6px black;
                transition: background-color 200ms linear;

                &:hover {
                    background: mix(#00000090, #b00000ff, 60%);
                    box-shadow: none;
                }

                &.consume-charge {
                    visibility: visible;

                    &.recharged {
                        background-color: mix(#00000090, #00b000ff, 60%);
                    }
                }

                &.add-charge {
                    position: absolute;
                    width: 50%;
                    visibility: hidden;
                    left: 0;
                    background: mix(#00000090, #00b000ff, 80%);
                    z-index: 5;

                    &:hover {
                        background: mix(#00000090, #00b000ff, 60%);
                    }
                }
            }

            span {
                position: relative;
                flex: 2 0 100%;
                text-align: center;

                button {
                    height: 100%;
                }
            }

            &:hover button {
                visibility: visible;
            }
        }
    }
}