#chat-form {
    position: relative;
}

#chat-form .chatghosttextarea {
    position: absolute;
    top: 1px;
    left: 1px;
    z-index: 1;
    opacity: 0.5;
    box-shadow: none;
    outline: none;
    pointer-events: none;
    background: transparent;
}

.chatghosttextarea:not(.show) {
    display: none;
}

#context-menu li.context-menu-header {
    margin: 0 3px;
    padding: 0 2px;
    line-height: 28px;
    color: #bbb;
    border-top: 3px solid #000;
    border-bottom: 1px solid #000;
}

#context-menu li.context-item:focus {
    outline: none;
    box-shadow: 0 0 10px #ff6400, inset 0px 0px 0px 1px red;
}

li.chat-message {
    background: @bg-image repeat;
    box-shadow: inset 0 0 20px 0 #c49d7296;

    .tiebreaker-message {
        span {
            white-space: nowrap;
        }
        .included {
            border: 2px solid #00b000a0;
            border-radius: 6px;
            padding: 0 0.25em;
        }
    }

    h2 {
        border: none;
    }
}

/* Claimable chat message */
.tde5e-claimable-item {
    @background-color-claimable: lighten(@header-bg-color, 20%);
    padding-bottom: 6px;
    // h2 {}
    .currency-section {
        display: grid;
        grid-template-columns: 20% 20% 20% 20% 20%;
        background-color: @background-color-claimable;
        border: 1px solid fade(@border-color, 50%);
        border-radius: 3px;
        padding: 4px;
        margin: 4px 0px 4px 0px;

        >span {
            width: fit-content;

            input {
                padding: 0px;
                margin: 0px;
                width: 25px;
                background: none;
                border: none;
                
                 &:hover {
                    background-color: darken(@background-color-claimable, 10%);
                }
            }
        }

        .button-box {
            display: block;
            width: auto;
            text-align: right;

            a {
                vertical-align: sub;
                color: #7a7971;
            }
        }
    }

    .claimable-item {
        display: grid;
        grid-template-columns: 80% 12% 8%;
        background-color: @background-color-claimable;
        border: 1px solid fade(@border-color, 50%);
        border-radius: 3px;
        padding: 4px;
        margin: 2px 0px 9px 0px;

        span {
            align-self: center;
        }

        i {
            width: 13px;
            height: 13px;
            color: #7a7971;
            padding-right: 16px;
        }

        &:not(.claimable) {
            background-color: #ffaaaa;
        }

        .claimable-name {
            font-size: small;
        }

        .claim-annotations {
            position: relative;

            > div {
                position: absolute;
                bottom: -15px;
                left: 0px;
                width: 100%;
                display: flex;
                flex-direction: row;

                > span {
                    font-size: small;
                    background-color: mix(@background-color-claimable, black, 85%);
                    border-radius: 5px;
                    width: max-content;
                    margin-right: 8px;
                    padding: 2px;
                    z-index: 10;
                }
            }
        }

        .input-box {
            padding: 0px 3px;
            input {
                padding: 0px;
                width: 25px;
                background: none;
                border: none;
                text-align: right;

                &:hover {
                    background-color: darken(@background-color-claimable, 10%);
                }
            }
        }
        .button-box {
            text-align: right;

            a {
                color: #7a7971;
            }
        }
    }

    .master-control {
        margin-top: 8px;
        text-align: center;
    }
}
