#combat {
    h4.encounter, h3.phase {
        flex-basis: auto;
    }

    #combat-tracker {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    div.group {
        & + div.group {
            border-left: 1px solid var(--color-underline-header);
        }

        h4 {
            display: inline;
        }
    }

    div.action-points {
        display: flex;
        gap: 2px;
        margin: 3px;
    }
    div.encounter-controls div.action-points {
        flex-wrap: wrap;
        justify-content: center;
    }

    div.action-point {
        display: inline-block;
        width: 16px;
        height: 16px;
        border: 1px solid black;
        border-radius: 8px;
        background: radial-gradient(farthest-corner at -4px -4px, gray 60%, white 100%);

        &.empty {
            background: radial-gradient(farthest-corner at -4px -4px, transparent 60%, gray 100%);
        }
    }

    li.combatant {
        line-height: normal;
        position: relative;

        &.no-action {
            margin-top: auto;
            border-top: 2px groove #444;
            color: #888 !important;

            & + .no-action {
                margin-top: 0;
                border-top: none;
            }
        }
        &.hidden {
            color: inherit;
        }
        &.defeated {
            h4, span.initiative {
                text-decoration: line-through;
                color: #b32019;
            }
        }
        &.enemy::before {
            content: "";
            position: absolute;
            border-top: 16px solid #900000;
            border-right: 16px solid transparent;
            z-index: 1;
        }
        &.ally::before {
            content: "";
            position: absolute;
            top: 32px;
            left: 32px;
            border-bottom: 16px solid #009000;
            border-left: 16px solid transparent;
            z-index: 1;
        }

        img.token-image {
            margin-right: 3px;
        }

        img.token-effect {
            width: 16px;
            height: 16px;
            margin: 1px 0;
            border: none;
            border-radius: 0;
            opacity: 1; // Prevent fade for hidden combatants.
        }

        .combatant-controls {
            flex-shrink: 0;

            a.combatant-control {
                color: #666;

                &.active {
                    color: unset;
                }
            }
        }

        .status-row {
            display: flex;
            align-items: center;

            h4 {
                text-overflow: ellipsis;
                margin: 0;
            }

            & > div {
                margin-right: 3px;
            }
        }

        .action-row {
            flex-wrap: wrap;

            .action-points {
                margin-left: auto;

                &.owner .action-point {
                    cursor: pointer;
                }
            }
        }

        .token-effects {
            margin-left: auto;
            display: flex;
            flex-wrap: nowrap;
        }

        .status-icon-wrapper {
            letter-spacing: -1px;
        }

        .token-resources {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            padding: 0 1px;
        }

        .resource-diamond-wrapper {
            .resource-diamond-wrapper(10px, 0);
            background: #222;

            .resource-diamond {
                background: none;
            }

            &.adrenaline.owner {
                cursor: pointer;

                &:hover {
                    background: white;
                }
            }
        }

        .token-selection {
            font-size: x-small;
            margin-right: 3px;
            display: inline-block;

            select {
                color: #f0f0e0;
                font-size: inherit;
                height: 22px;
                width: 100%;
                padding: 0 1px;

                option {
                    background-color: #555;
                }
            }

            span {
                width: calc(50% - 2px);
                line-height: 22px;
            }
        }

        .token-initiative {
            flex: 0 0 27px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            
            span.initiative {
                font-size: larger;

                &.critical {
                    border: 2px solid #00b000a0;
                    background: #00b00040;
                    border-radius: 6px;
                }
                &.botch {
                    border: 2px solid #b00000a0;
                    background: #b0000040;
                    border-radius: 6px;
                }
            }
            .roll {
                background-size: 24px;
                margin: 0 0.25em;
                height: 100%;
                width: 20px;
            }
        }

        .combat-suggestions {
            flex: 1 0 90%;
            color: #f0f0e0;
            margin: 5px;

            a.roll {
                display: inline;
                background: revert;
                margin: revert;
            }
        }
    }

    #combat-controls {
        a.center, span.center {
            flex-grow: 3.5;
        }
        a.ready-count {
            pointer-events: none;
            color: orange;
        }
        a.ready {
            color: palegreen;
        }
        span {
            line-height: 32px;
            font-size: 20px;
            text-align: center;
            color: #aaa;
        }
    }
}

.combat-suggestions {
    table {
        font-size: small;

        tr {
            height: 22px;
            border-bottom: none;

            &.selected {
                box-shadow: inset 0 1px 8px 0 #ff6400;
            }
            &:nth-of-type(even) {
                background: none;
            }
            &:hover {
                background: #ffffff33;
            }
        }
    }

    .sticky-table {
        max-height: 140px;
    }

    .damage-type-img {
        // Foundry has a very deep rule setting these.
        height: 12px !important;
        width: auto !important;
        opacity: 1 !important;
        margin: 0 2px !important;
        
        border: none;
        filter: invert();
        -webkit-filter: invert();
    }

    a.content-link {
        background: none;
        padding: 0;
        border: none;

        i {
            color: revert;
        }
    }

    button {
        background: #333;
        color: #f0f0e0;
        margin-top: 3px;
        line-height: 22px;
        pointer-events: auto; // Required to override Token HUD rule.
    }
}

#token-hud {
    .combat-suggestions {
        position: absolute;
        top: 0;
        left: 100%;
        color: #ccc;
        background: rgba(0, 0, 0, 0.6);
        box-shadow: 0 0 15px #000;
        border: 1px solid #333;
        border-radius: 8px;
        padding: 5px;
        min-width: 200px;
        min-height: 275px;
        z-index: -1;
    }

    .status-effects {
        background-color: rgba(40, 40, 40, 0.9);
    }
}

.flash-text {
    animation: 2s flashtext;
}

@keyframes flashtext {
    0% { text-shadow: none; }
    20% { text-shadow: 0 0 8px #ff8080; }
    100% { text-shadow: none; }
}

.flash-border {
    animation: 4s flashborder;
}

@keyframes flashborder {
    0% {
        box-shadow: inset 0 0 20px 0 #c49d7296;
        border-color: #6f6c66;
    }
    20% {
        box-shadow: inset 0 0 200px 0 white;
        border-color: white;
    }
    100% {
        box-shadow: inset 0 0 20px 0 #c49d7296;
        border-color: #6f6c66;
    }
}

.flashing-bad {
    .flashing-anim(flashingred, #b00000);
}
.flashing-good {
    .flashing-anim(flashinggreen, #00b000);
}

.flashing-anim(@name; @color) {
    border: 2px solid white !important;
    animation: 1s @name infinite;
    animation-direction: alternate;
    @keyframes @name {
        0% { box-shadow: none; }
        100% { box-shadow: inset 0 0 4px 2px @color; }
    }
}