/* ----------------------------------------- */
/*  Creature specific                        */
/* ----------------------------------------- */
.sheet.tde-creature {
    .editor {
        min-height: 80px;
        .editor-container {
            min-height: 200px;
        }
    }
        
    .button-box {
        display: flex;
        flex-direction: row;
        align-items: center;
        //padding-top: 5px;

        > * {
            padding: 5px 5px;
            color: @header-color;
        }

        label {
            text-align: center;
            &:hover {
                text-shadow: 0 0 8px red;
            }
        }
    }

    /* ---------------- */
    /*  Creature Facts  */
    .creature-facts {
        .creaturefact-check {
            display: flex;
            flex-direction: row;
            *:first-child {
                min-width: 30px;
                font-weight: bold;
                padding: 2px 15px 2px 5px;
            }
        }

        input[type="checkbox"] {
            display: none;
        }

        table {
            td {
                vertical-align: top;
                padding-top: 5px;
            }

            td:first-child {
                min-width: 55px;
                height: auto;
            }

            td:last-child {
                width: 100%;
            }

            textarea {
                background: none;
                border: none;
                padding: 0px 4px;
                height: auto;
                resize: vertical;
                min-height: 35px;
                font-family: "Signika", sans-serif;
                &:hover {
                    background-color: @input-bg-color;
                    border-radius: 5px;
                }
            }
        }

        input {
            background: none;
            border: none;
            padding: 0 4px;
            height: auto;

            &::placeholder {
                color: @background-text-color;
                font-size: small;
            }

            &:hover {
                background-color: @input-bg-color;
                border-radius: 5%;
            }
        }
    }

    /* ------------------------ */
    /*  Creature Special Rules  */
    .creature-specialrules {
        table {
            tr > td:first-child {
                min-width: 150px;
            }
            tr > td:last-child {
                width: 100%;
            }
        }

        input[type="checkbox"] {
            display: none;
        }

        textarea {
            background: none;
            border: none;
            padding: 0px 4px;
            height: auto;
            resize: vertical;
            min-height: 35px;
            font-family: "Signika", sans-serif;
            &:hover {
                background-color: @input-bg-color;
                border-radius: 5px;
            }
        }

        input.specialrules-name{
            font-weight: bold;
        }

        input {
            background: none;
            border: none;
            padding: 0 4px;
            height: auto;

            &::placeholder {
                color: @background-text-color;
                font-size: small;
            }

            &:hover {
                background-color: @input-bg-color;
                border-radius: 5%;
            }
        }
    }

    /* --------------- */
    /*  Creature Loot  */
    .loot-box {
        display: flex;
        flex-direction: column;
        padding: 6px;

        .loot-items {
            padding-top: 10px;
        }
    }

    /* ------------------------------------- */
    /*  Creature Specific Bio Block Changes  */
    .bio-block {
        select {
            border: none;
            background: none;

            &:hover {
                background-color: @input-bg-color;
            }
        }

        .bio-block-group {
            border: none;
            padding-right: 10px;
            padding-top: 5px;
            align-items: flex-start;
            grid-row: span 3;
            display: inline-grid;
            grid-template-columns: 50% 50%;
            grid-column-gap: 4%;
        }

        input[type="checkbox"] {
            display: none;
        }

        label {
            width: 35px;
            display: block;
            padding: 0 4px;

            &:hover {
                background-color: @input-bg-color;
                border-radius: 5%;
            }
        }
    }
}
