div.multi-select {
    width: 100%;
    min-height: 100px;
    max-height: 650px;
    display: flex;
    flex-direction: column;
    overflow-y:scroll;
    
    .multi-select-item {
        display: flex;
        flex-direction: row;

        > label {
            align-self: center;
        }
    }
}
