/* BAILEYWIKI MASS EDIT */
#mass-edit-presets .mass-edit-preset-form {
    color: #383838;    
}

/* SIMPLE CALENDAR */
div.window-app.simple-calendar.classic{

    --config-menu-cal-settings-bg-color:  rgba(55, 55, 55, 0.125);
    --form-group-bg-color: rgba(55, 55, 55, 0.125);
    --form-group-bg-hover-color:rgba(233, 233, 233, 0.125);
    --cal-day-border-color: rgba(79, 79, 79, 0.585);
    --section-bg-color:transparent;
    --section-border-color:rgb(38, 38, 38);

    header.window-header{
        background-color: transparent !important;
    }

    /* Wrapper for the calendar's days and the header */
    div.fsc-h{
        border-color: rgb(38, 38, 38) !important;
        border-radius: 5px;
        border-radius: 5px;
    }

    /* The header with year and days of week*/
    div.fsc-j{
        border-bottom: 2px solid var(--section-border-color);
        padding-bottom: 3px;
    }
}