// ******************************
// Common for all item sheets
// ******************************

.tde5e-item {
    img[data-edit]:hover {
        box-shadow: 0 0 5px red;
        cursor: pointer;
    }

    /* Stat block inside item description */
    .stat-block{
        margin-top: 8px;
        border: 2px solid @border-color;
        border-radius: 20px;
        padding: 7px;
        background-color: #aa65482c;

        span.stats {
            display: flex;
            flex-direction: row;
            gap: 12px;
        }
        >div {
            margin-top: 1px;
            margin-bottom: 1px;
        }
        b, strong {
            padding-right: 2px;
        }
    }

    .editor-content table {
        tr {
            border: none;
        }

        td {
            padding: 0px 3px;
        }

        thead tr {
            background-color: #782f2281;
        }

        tbody tr:nth-child(even) {
            background-color: #a369321c;
        }
    }

    .rarity {
        @color-rarity-common: rgb(138, 134, 134);
        @color-rarity-uncommon: rgb(34, 62, 184);
        @color-rarity-rare: rgb(143, 23, 167);
        @color-rarity-super-rare: rgb(109, 129, 19);
        @color-rarity-unique: rgb(20, 112, 32);
        @color-rarity-fate: rgb(167, 33, 33);

        &.common {
            color: @color-rarity-common;
            text-shadow: fade(@color-rarity-common, 55%) 1px 0 5px;
        }
        &.uncommon {
            color: @color-rarity-uncommon;
            text-shadow: fade(@color-rarity-uncommon, 55%) 1px 0 5px;
        }
        &.rare {
            color: @color-rarity-rare;
            text-shadow: fade(@color-rarity-rare, 55%) 1px 0 5px;
        }
        &.super-rare {
            color: @color-rarity-super-rare;
            text-shadow: fade(@color-rarity-super-rare, 55%) 1px 0 5px;
        }
        &.unique {
            color: @color-rarity-unique;
            text-shadow: fade(@color-rarity-unique, 55%) 1px 0 5px;
        }
        &.fate {
            color: @color-rarity-fate;
            text-shadow: fade(@color-rarity-fate, 55%) 1px 0 5px;
        }
    }

    input {
        height: auto;
    }

    img.item-img {
        float: right;
        max-width: 85px;
        max-height: 400px;
        margin: 0 0 2px 2px;
        border: none;
        cursor: zoom-in;

        &.placeholder {
            border: none;
            max-height: 30px;
        }

        &.popout {
            position: absolute;
            cursor: zoom-out;
            max-width: 100%;
            max-height: 100%;
            margin: 0;
            border-radius: 20px;
            box-shadow: 0 0 20px 6px #00000073;
            background: #00000050;
            top: 50%;
            right: 50%;
            transform: translate(50%, -50%);
            z-index: 5;
        }
    }

    .item-variants .element-box {
        align-items: flex-start;
        gap: 5px;

        img.item-img {
            max-height: 85px;
            max-width: 40%;
            margin: 0;
            flex-grow: 0;
        }

        div.popout-placeholder {
            margin: 0;
            flex: 0 0 auto;
        }

        &:nth-child(2n) {
            flex-direction: row-reverse;
        }
    }

    div.popout-placeholder {
        float: right;
        margin: 0 0 2px 2px;
    }

    h2 {
        display: flex;
        border: none;
        padding: 1px;
        min-width: 50%;

        i {
            font-size: smaller;
            align-self: center;
            margin: 0 4px;
        }
    }

    .fake-input {
        padding-left: 3px;
        background: none !important;
    }

    span.gm-controls {
        text-indent: 0;
    }

    textarea {
        resize: vertical;
        font-family: "Signika", sans-serif;
    }

    h4.source-list {
        margin-top: -6px;

        input {
            width: auto;
            min-width: 50%;
            height: 19px;
        }

        select {
            height: 19px;
        }
    }

    input:disabled {
        background: none;
        color: var(--color-text-dark-primary);
        border: none !important;
        height: auto;
        padding: 0 3px;
    }

    select:disabled {
        appearance: none;
        background: none !important;
        color: var(--color-text-dark-primary);
        opacity: 100%;
        height: auto;
        padding: 0 3px !important;

        > option {
            color: inherit;
        }
    }

    input[type="number"],
    input.unit {
        max-width: 4ch;
        text-align: right;
    }

    select[multiple] {
        display: block;
        height: auto;
    }

    ul {
        text-indent: -5px;
        padding-inline-start: 14px;
        margin: 0;

        li {
            & > a:first-child {
                text-indent: 0;
                margin-left: -5px;
            }

            span:not(:first-child), a:not(:first-child) {
                text-indent: 0;
                margin-left: 3px;
            }

            .tag > span {
                text-indent: 0;
            }
        }
    }

    > label {
        font-weight: bold;
    }

    label.fill {
        display: inline-block;
        width: 100%;
    }

    .element-box.array-element {
        position: relative;

        a.remove-element {
            position: absolute;
            top: 5px;
            right: 4px;
        }
    }

    .flexrow {
        align-items: center;

        i:first-child {
            margin-right: 3px;
            flex: 0;
        }

        input:last-child {
            margin-left: 3px;
        }

        span, a, item-tags {
            flex: 0 1 auto;
        }
    }

    item-tags {
        max-height: 69px;
        min-width: min-content;
        overflow-y: auto;
        scroll-snap-type: y mandatory;

        div.tag {
            scroll-snap-align: start;
            scroll-margin-top: 2px;
        }
    }

    /* Groups within the itemsheet */
    div.group {
        display: grid;

        /*The header of the group*/
        > h3 {
            font-weight: bold;
            font-size: 15px;
            background-image: linear-gradient(45deg, #ba856e, transparent);
            margin-top: 5px;
            margin-bottom: 3px;
            padding: 1px;
            padding-left: 5px;
            border: none;
        }
    }

    fieldset {
        border: none;
        padding: 0;
        margin: 0 0 3px 0;

        /* Let selects match typical line height */
        select {
            height: auto;
        }

        input[type="checkbox"] {
            margin: 0 0 2.5px 0;
            vertical-align: middle;
            width: auto;
        }

        &:empty {
            display: none;
        }

        .gm-controls {
            input {
                display: none;

                &:checked + i {
                    color: #191813;
                }
            }

            i {
                color: mix(@bg-color, #191813, 50%);
                font-size: small;
                cursor: pointer;

                &:hover {
                    text-shadow: 0 0 5px red;
                }
            }
        }

        > legend {
            float: left;
            font-weight: bold;
            padding: 0;
            margin-right: 2px;

            > i.hint {
                font-size: medium;
                padding: 0px;
                padding-right: 3px;
            }

            > img {
                height: 12px;
                width: auto;
                border: 0px;
                padding: 0px;
                padding-right: 3px;
            }
        }

        > div,
        ul,
        ol {
            float: left;
            width: calc(100% - 16px);
            margin-left: 14px;

            p:first-child {
                margin: 0;
            }
        }

        div.item-property {
            margin: 3px 0 0 0;

            > label {
                font-weight: bold;
            }
        }

        div.editor {
            overflow: visible;
        }

        div.editor-container {
            flex: 3 0 4em;
            margin: 3px 0 3px 6px;

            & > div.editor-content {
                position: unset;
            }
        }

        span.references {
            display: flex;
            align-items: center;
            gap: 3px;
        }

        /* Extend textare when prosemirror is in HTML mode*/
        .prosemirror.editing-source textarea {
            min-height: 200px;
        }

        fieldset.inline-set {
            display: contents;
        }
    }

    /* List of tags for each itemsheet*/
    div.tag-list {
        --color-tag-bg: #d4c0b1;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 90%;
        margin: -6px 0 2px 3px;

        > span {
            display: flex;
            background-color: var(--color-tag-bg);
            align-items: center;
            padding: 2px 4px 2px 4px;
            margin: 1px 7px 2px 7px;
            position: relative;
            font-size: small;
            height: 18px;
            

             &::before {
                content: "";
                display: block;
                border-top: 9px solid var(--color-tag-bg);
                border-right: 2px solid var(--color-tag-bg);
                border-bottom: 9px solid var(--color-tag-bg);
                border-left: 9px solid transparent;
                background-color: transparent;
                position: absolute;
                top: 0px;
                left: -11px;
            }

            &::after {
                content: "";
                display: block;
                border-top: 9px solid transparent;
                border-right: 9px solid transparent;
                border-bottom: 9px solid transparent;
                border-left: 9px solid var(--color-tag-bg);
                background-color: transparent;
                position: absolute;
                top: 0px;
                right: -18px;
            }
        }
    }
}
