@tableofcontent-separator-color: #8f5e47;
@inner-content-border-color: #332323;

.journal-sheet {
    table {
        td {
            border: 0px;
        }
    }

    /* A list of table of contents on the left side of the journal*/
    .directory-list {
        /* A table of content for a page either folded or not */
        li.directory-item {
            color: @font-color;

            /* When the table of contents is unfolded */
            &.active {
                border-top: 1px solid @tableofcontent-separator-color !important;
                border-bottom: 1px solid @tableofcontent-separator-color !important;

                /* 
                    Each content in the table of contents.
                    Add breadcrumb element before it for better visibility.
                */
                ol.headings {
                    border: none;
                    margin-left: 16px;

                    & > li {
                        position: relative;
                        padding-left: 4px;
                        height: 25px;

                        &.heading::before {
                            height: 18px;
                        }

                        > .heading-link {
                            text-indent: 8px;
                        }

                        &::before {
                            content: "";
                            position: absolute;
                            left: -2px;
                            top: 0;
                            border-left: 1px dotted @inner-content-border-color;
                            border-bottom: 1px dotted @inner-content-border-color;
                            border-radius: 0 0 0 0px;
                            width: 5px;
                            height: 16px;
                        }

                        &:last-child::before {
                            border-radius: 0 0 0 4px;
                        }

                        &::after {
                            content: "";
                            position: absolute;
                            top: 16px;
                            left: -2px;
                            border-left: 1px dotted @inner-content-border-color;
                            width: 5px;
                            height: calc(100% - 16px);
                        }

                        &:last-child::after {
                            display: none;
                        }
                    }
                }
            }

            /* When the table of contents is folded */
            &:not(.active) {
                border-top: 0px !important;
                border-bottom: 0px !important;
            }

            /* The head name of a table of contents*/
            div.page-heading {
                height: 25px;
                margin-top: 5px;

                span.page-title {
                    font-weight: bold;
                }
            }
        }
    }

    /* Actual content of the journal (available in V10+) */
    section.journal-entry-content {
        background: @bg-image !important;
        border: 2px solid #5527164b !important;
        box-shadow: inset 0 0 20px 0 #c49d7296;
        border-radius: 3px;
    }

    /* 
     * Following is individual styling for elements used inside the content 
     *  either in the main view or the popout edit window.
     */
    section.journal-page-content,
    div.editor-container {
        h1 {
            background-image:linear-gradient(90deg, #dbb376, transparent 90%);
            border: none;
            padding: 1px;
            padding-left: 5px;

        }

        h2, h3 {
            background-image:linear-gradient(45deg, #ba856e, transparent);
            border: none;
            padding: 1px;
            padding-left: 5px;
        }

        li {
            padding-left: 5px;
            &::marker{
                content: "\0025CF";
                color: #61453a;
            }
        }

        section.secret {
            background: @nav-active-color;

            button {
                display: block;
                margin-bottom: 8px;
            }

            > * {
                display: none;
            }

            &.revealed {
                background: @nav-active-hover-color;

                > * {
                    display: revert;
                }

                *:nth-child(2) {
                    margin-top: 0;
                }
            }
        }
    }
}
