.directory .action-buttons button {
    width: auto;
}

.library {
    div.form-fields {
        & > input {
            margin-left: 10px;
        }
        & > span {
            flex: 0 0 auto;
        }
    }

    a.reset-search,
    a.new-window-search {
        flex-grow: 0;
        padding: 0px 4px;
    }

    th:hover {
        background: @input-bg-color;
    }

    td {
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 300px;
    }

    a.content-link {
        background: none !important;
    }

    @keyframes spinner {
        0% {
            transform: translate(-50%, -50%) rotate(0deg);
        }
        100% {
            transform: translate(-50%, -50%) rotate(360deg);
        }
    }

    div.loading-spinner {
        display: none;

        &::before {
            position: absolute;
            content: "";
            height: 40px;
            width: 40px;
            left: 50%;
            top: 50%;
            border: solid 5px @input-hover-color;
            border-bottom-color: #74543b;
            border-radius: 50%;
            animation: 1.5s linear infinite spinner;
            transform: translate(-50%, -50%);
        }
    }
}