/* Chat message in the sidebar */
li.chat-message div.message-content {
    /* LootClaim message content*/
    div.tde5e-lootClaim-item div.content {
        > span {
            display: flex;
            flex-direction: row;

            > * {
                padding-right: 5px;
            }
        }
        span.status {
            background-color: greenyellow;
            border-radius: 5px;
            border: 1px dashed black;
            padding: 2px 4px;

            &.closed {
                background-color: red;
            }
        }
    }
}

/* Loot Claim Sheet */
div.window-app.lootClaim-sheet {
    /* Table to display claimable loot*/
    @lc-section-header-border-color: #7e4f21;
    table.lootClaim-table {
        /* The topmost header of the table, used to declare a section */
        tr.section-header-row {
            border: 3px solid @lc-section-header-border-color;
            background-color: lighten(@lc-section-header-border-color, 30%);
            font-size: larger;
            > td {
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                height: 20px;
            }
        }

        tr {
            img.symbol-img {
                width: 20px;
                height: auto;
            }

            > td:first-child {
                padding-left: 8px;
                img {
                    border: 0px;
                    vertical-align: middle;
                    margin-right: 3px;
                }
            }
            > td:last-child {
                padding-right: 8px;
            }
        }

        /* A row with items to claim */
        tr.item-row {
            height: 22px;
            input {
                max-width: 40px;
                border: 1px solid @border-color;
                border-radius: 1px;
                height: 22px;
            }

            .last-segment{
                padding-right: 5px;
            }

            > td:last-child {
                // display: flex;
                // flex-direction: row;
                // justify-content: right;

                a {
                    color: @nav-border-color;
                    padding-left: 4px;

                    :hover {
                        color: rgb(52, 141, 49);
                    }
                }
            }
        }

        /* A row below an item row that displays what user claimed how much*/
        tr.claim-data-row {
            margin: 0px;
            padding: 0px;

            div.claim-data {
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                gap: 20px;

                /* Container for a single users claims*/
                > span.claim-container {
                    display: flex;
                    flex-direction: row;
                    place-items: center;
                    border: 2px dotted @nav-border-color;
                    background-color: rgb(155, 219, 146);
                    border-radius: 5px;
                    padding: 8px;
                    gap: 10px;
                    max-height: 20px;
                    font-size: smaller;
                }
            }
        }

        /* A row that has no items because it failed its rolls */
        tr.no-item-row {
            border: 1px solid gray;
            border-radius: 10px;
        }

        /* A row that was not evaluated yet */
        tr.missing-evaluation-row {
            background-color: rgba(245, 245, 153, 0.651);
            border-radius: 5px;
        }
    }

    div.control-panel {
        margin-top: 15px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 10px;
        height: 24px;

        > a {
            display: inline-flex;
            align-items: center;

            > p {
                margin-left: 3px;
                font-family: var(--font-primary);
            }
        }
    }

    div.stat-panel {
        border-top: 2px solid @border-color;
        padding-top: 5px;
        margin-top: 5px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 10px;
        height: 24px;

        span.unfinished {
            color: rgb(126, 126, 27);
            size: 20px;
        }

        span.finished {
            color: green;
            size: 20px;
        }
    }
}
