// Add extra contrast to the section that contains active sounds
#playlists #currently-playing {
  border: 1px solid #ff6400;
  border-radius: 4px;
  box-shadow: inset 0 0 10px red;
  margin-bottom: 6px;
}

#playlists #currently-playing .playlist-header {
  background: none;
  border: none;
}

// Active sound highlighting 
li.sound.playing {
    a.sound-control:not(.inactive){
        color: #ff6400 !important;
    }
    a.sound-control.inactive{
        color: mix(#ff6400, rgb(65, 65, 65)) !important;
    }
}

// Playing playlist are hightlighted 
li.playlist.playing div.playlist-controls{
    a.sound-control {
        color: #ff6400 !important;
    }
}

