.tde5e-roll {
    position: relative;

    .roll-header {
        > div {
            float: left;
            width: 25%;
            height: 60px;
            margin: 0 5px 5px 0;
        }
        img {
            max-width: 100%;
            max-height: 100%;
        }
        .roll-skill-info, .flexrow {
            align-items: center;
        }
        .roll-skill-title {
            font-size: larger;
            font-weight: bold;
            margin-bottom: 3px;
            text-align: center;
        }
        i.fa-lock {
            position: absolute;
            top: 3px;
            right: 0px;
            color: #4b4a44;
        }
    }

    input[type="number"] {
        text-align: right;
        max-width: 30px;
        margin-left: 3px;
    }

    .modifier-header {
        summary {
            > span {
                padding: 0;
            }
            a {
                visibility: hidden;
            }
            &:hover a {
                visibility: visible;
            }
        }
    }

    .modifier-list {
        margin-left: 15px;
        width: calc(100% - 30px);
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;

        input[type="checkbox"] {
            display: none;
        }
        input[type="text"] {
            max-width: 80px;
            height: unset;
        }
        input[type="number"] {
            height: unset;
        }
        select {
            height: unset;
            max-width: 85px;
            padding: 0;

            option {
                background-color: @bg-color;
            }
        }
        label.modifier {
            padding: 2px;
        }
        .modifier {
            display: flex;
            flex-direction: row;
            align-items: center;
            border-radius: 5px;
            background: #00000020;
            opacity: 0.7;
            margin: 2px 0px;

            &:not(.disabled):hover {
                background: #00000040;
            }
            &.active {
                opacity: 1;

                &.good {
                    background: #00b00050;
                    &:not(.disabled):hover {
                        background: #00b00070;
                    }
                }
                &.bad {
                    background: #b0000050;
                    &:not(.disabled):hover {
                        background: #b0000070;
                    }
                }
            }
            span + span, input[type="text"] + span {
                margin-left: auto;
            }
        }
    }

    .attribute-rolls {
        display: flex;
        justify-content: center;
        gap: 4px;
        padding: 4px 2px;

        div.animate.roll-1 {
            .attr-box {
                animation: spin-2 1.5s 1 ease-out;
            }
            .attr-value {
                animation: unblur 1.5s 1 linear;
            }
        }

        div.animate.roll-2 {
            .attr-box {
                animation: spin-3 2s 1 ease-out;
            }
            .attr-value {
                animation: unblur 2s 1 linear;
            }
        }

        div.animate.roll-3 {
            .attr-box {
                animation: spin-3 2.5s 1 ease-out;
            }
            .attr-value {
                animation: unblur 2.5s 1 linear;
            }
        }

        .attr-box {
            width: 56px;
            height: 64px;
        }

        .attr-short-name {
            top: 5px;
        }

        .attr-target {
            position: absolute;
            bottom: 3px;
            width: 24px;
            text-align: center;
            font-size: small;
            border-top: 1px solid @line-color;
            color: @line-color;

            &.attr-increased {
                color: mix(@bg-color, #1d391d, 25%);
            }

            &.attr-lowered {
                color: mix(@bg-color, #950505, 25%);
            }
        }

        .discarded-rolls {
            text-align: center;
            max-width: 56px;
        }
    }

    a.reroll-fate {
        margin-left: 2px;

        img {
            border: none;
            width: 16px;
        }

        &:hover img {
            filter: drop-shadow(0 0 4px var(--color-shadow-primary));
        }
    }

    span.reroll-fate img {
        border: none;
        width: 16px;
        opacity: 0.5;
    }

    @success-color: mix(#00b000, @bg-color, 60%);
    @advantage-color: gold;
    @fail-color: mix(#b00000, @bg-color, 60%);
    .roll-result {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;

        .animate {
            animation: unblur 2.5s 1 linear;

            &.faster {
                animation-duration: 1.5s;
            }
        }

        .success {
            border-color: @success-color;
            &.impossible {
                border-color: @fail-color;
            }
            &.limited {
                border-color: mix(@success-color, @fail-color, 40%);
            }
            &.disadvantaged {
                border-color: mix(@success-color, @fail-color, 70%);
            }
            &.advantaged {
                border-color: mix(@success-color, @advantage-color, 60%);
            }
            &.overreached {
                border-color: mix(goldenrod, @advantage-color, 50%);
            }
        }

        > span {
            flex: auto;
            text-align: center;

            > span {
                display: inline-block;
                white-space: nowrap;
            }
        }
        > span + span {
            border-left: 2px solid #4b4a44;
        }
    }

    span {
        padding: 0 0.25em;
    }

    .success {
        border: 2px solid @success-color;
        border-radius: 6px;

        &.critical {
            background: mix(#00b000, @bg-color, 25%);
        }
    }
    .fail {
        border: 2px solid @fail-color;
        border-radius: 6px;

        &.critical {
            background: mix(#b00000, @bg-color, 25%);
        }
    }
    .discarded-roll {
        text-decoration: line-through;
        font-size: xx-small;
        color: #7c7b71;
        padding: 0;

        &:first-child {
            font-size: smaller;
        }
    }
}

@keyframes spin-2 {
    25% {
        translate: 0 -8px;
    }
    50% {
        translate: 0;
    }
    75% {
        translate: 0 -6px;
    }
    to {
        rotate: 720deg;
        translate: 0;
    }
}

@keyframes spin-3 {
    16.6% {
        translate: 0 -10px;
    }
    33.3% {
        translate: 0;
    }
    50% {
        translate: 0 -8px;
    }
    66.6% {
        translate: 0;
    }
    83.3% {
        translate: 0 -6px;
    }
    to {
        rotate: 1080deg;
        translate: 0;
    }
}

@keyframes spin-4 {
    12.5% {
        translate: 0 -12px;
    }
    25% {
        translate: 0;
    }
    37.5% {
        translate: 0 -10px;
    }
    50% {
        translate: 0;
    }
    62.5% {
        translate: 0 -8px;
    }
    75% {
        translate: 0;
    }
    87.5% {
        translate: 0 -6px;
    }
    to {
        rotate: 1440deg;
        translate: 0;
    }
}

@keyframes unblur {
    from { opacity: 0 }
    80% { opacity: 0 }
    to { opacity: 1 }
}
