/* ----------------------------------------- */
/*  Global variables                         */
/* ----------------------------------------- */
@bg-image: url("assets/parchment_scriptorium.png");

// Base sheet color for mixing.
@bg-color: #f8f1e6;
@bg-outer-color: #dfd1c5;

@element-bg-color: #9255253b;
@element-border-color: #705544;
@line-color: mix(@bg-color, #555, 25%);
@light-border-color: #b3b3b3;
@disabled-color: #3a363437;

:root {
    --color-icon-value-box: #78323231;
}

/* ----------------------------------------- */
/*  Backgrounds                              */
/* ----------------------------------------- */
.window-app:not(.sidebar-popout):not(.mtte), .chat-message {
    /* The quick button to load an objects json data into clipboard*/
    a.document-source-link{
        color: rgb(240,240,224);
        opacity: 0.5;
        cursor: pointer;
    }

    scrollbar-color: #74543b #dfceb4;
    scrollbar-width: thin;

    select {
        border: none;
        border-radius: 0;
        padding: 0 5px;

        &:enabled:hover {
            background: @input-hover-color;
        }
        &:disabled {
            background: @disabled-color;

            &:hover {
                border: none;
            }
        }

        option {
            background-color: @bg-color;

            &:checked {
                background-color: #bfa694;
            }
        }
    }
    
    a.content-link,
    a.compendium-link {
        background: #d4c0b1;
        border: none;
        padding: 1px 3px;
    
        &.nobg {
            background: none;
        }
    }

    .prosemirror menu {
        background: @nav-active-color;
    }

    div.editor-content a.content-link i {
        display: none;
    }

    button {
        background: @nav-background-color;
        border: 1px solid @nav-border-color;

        &:hover {
            box-shadow: unset;
            background: @nav-hover-color;
        }
    }
    
    prose-mirror-ext {
        button.toggle {
            display: none;
            position: absolute;
            top: 5px;
            right: 5px;
            width: auto;

            > i {
                margin: 0;
            }
        }

        &:hover button.toggle, &.active button.toggle {
            display: block;
        }

        &[toggled="true"] button[data-action="save"] {
            display: none;
        }
    }

    .editor-menu button:not(.pm-dropdown) {
        background: unset;
        border: unset;
        padding: 1px 5px;
        margin: 1px;
        line-height: 24px;
        height: 24px;

        &.active {
            background: @nav-background-color;
        }

        &:hover {
            background: @nav-hover-color;
        }
    }

    // Background
    .window-content,
    .window-content {
        // Force override for popouts
        background: @bg-image repeat;
        padding: 0;
        scrollbar-width: inherit;

        > form,
        > div {
            padding: 12px;
            box-shadow: inset -20px -10px 50px 10px #dfceb4, inset 15px 0 20px -10px #a07b4f;
        }
    }

    // Scrollbar
    & ::-webkit-scrollbar-thumb {
        background: #74543b;
        border: none;
    }

    & ::-webkit-scrollbar-track {
        box-shadow: none;
        border-radius: 0;
        background: #e3d4bc;
    }
}

#prosemirror-dropdown {
    /* Can't scope this to sheets because it's positioned globally. */
    --color-control-bg: @nav-background-color;
    --color-hover-bg: @nav-hover-color;
}

/* A box to display a value and an icon together*/
span.icon-value-box {
    border: 1px solid var(--color-icon-value-box);
    border-radius: 5px;
    flex: 0 0 auto;
    height: 21px;
    display: flex;
    align-items: center;

    :first-child {
        padding: 0 4px;
    }

    :last-child {
        background-color: var(--color-icon-value-box);
        padding: 1px 1px;
    }
}

.unit-control {
    & > span {
        display: inline-block;
        margin-right: 6px;

        input.unit {
            max-width: 40px;
            text-align: right;
        }

        img {
            border: none;
            vertical-align: text-top;
            height: 17px;
            margin-left: 2px;
        }

        span + span {
            margin-left: 2px;
        }
    }
}

item-tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.25rem;
    padding: 3px;
    border: 1px dashed black;

    &:disabled {
        padding: 0;
        border: none;
    }

    .tags.input-element-tags {
        width: unset;
        flex: 0 1 auto;
        justify-content: flex-start;

        .tag a.content-link {
            background: none;
        }
    }

    .notes {
        flex: 1 1 auto;
        align-self: center;
        text-align: center;
        margin: 0;

        &.empty {
            text-align: left;
        }
    }
}

multi-select-ext {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.25rem;

    .tags.input-element-tags {
        width: unset;
        justify-content: flex-start;
    }

    select:disabled {
        display: none;
    }

    .notes {
        flex: 0 0 auto;
    }
}

#chat-log {
    scrollbar-width: thin;
}

.bg-red {
    background: linear-gradient(90deg, #a34340, transparent) !important;
}

.bg-teal {
    background: linear-gradient(90deg, #5c7d76, transparent) !important;
}

.bg-green {
    background: linear-gradient(90deg, #737444, transparent) !important;
}

.bg-blue {
    background: linear-gradient(90deg, #536e9e, transparent) !important;
}

.bg-brown {
    background: linear-gradient(90deg, #d7b179, transparent) !important;
}

.bg-dark-brown {
    background: linear-gradient(90deg, #bd8b75, transparent) !important;
}

.element-box {
    border: 2px solid #803c242e;
    box-shadow: inset 0 0 20px 0 #c49d7296;
    //box-shadow: inset 0px 0px 20px 0px #c49d7296, 1px 1px 4px 0 #614e47;
    border-radius: 3px;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px 14px;

    & > summary {
        list-style: none;
        cursor: pointer;
    }
}

.ability-list-content {
    display: flex;
    flex-wrap: wrap;

    .ability-list-item {
        border: 1px solid @element-border-color;
        margin: 3px;
        padding: 3px;
        background: @element-bg-color;
        border-radius: 5px;
    }
}

.ultimate-ability-list-content {
    padding: 6px 1px;
    display: inline-block;

    > span {
        border: 1px solid @element-bg-color;
        border-radius: 0px;
        padding: 2px 4px;

        &:first-child {
            background-color: @element-bg-color;
            border-radius: 5px 0px 0px 5px;
        }

        &:last-child {
            border-radius: 0px 5px 5px 0px;
        }
    }
}

.nomod-icon {
    color: #9023239e;
}

.mod-by {
    color: #902323c8;
    margin-left: 2px;
}

.borderless {
    border: none !important;
}


/* ----------------------------------------- */
/*  Tables                                   */
/* ----------------------------------------- */
table {
    position: relative; // Required for context menus
    background: none;
    border: none;

    tr {
        height: 30px;
        border-bottom: 1px solid #b3b3b3;

        &:nth-child(even) {
            background: unset;
        }

        &:nth-of-type(even) {
            background: #ffffff33;
        }

        &.compact {
            height: 22px;
        }

        td,
        th {
            min-width: 40px;
            text-align: center;
            padding: 1px 5px;

            &:first-of-type {
                text-align: left;
            }
            &.rtl {
                text-align: right;
            }

            &.compact {
                width: 60px;
            }
            &.compact-l {
                width: 80px;
            }
            &.compact-s {
                width: 40px;
            }

            &.option-col {
                padding: 0 !important;
                max-width: 0;
                min-width: 0;

                a {
                    visibility: hidden;
                    position: relative;
                    left: -8px;
                    margin-left: 3px;
                    text-shadow: 0 0 5px white;

                    &:hover {
                        text-shadow: 0 0 5px red;
                    }
                }

                .flexrow {
                    flex-wrap: nowrap;
                    flex-direction: row-reverse;
                    position: relative;
                    right: -12px;
                }
            }

            &.input-cell {
                padding: 0;
                height: 30px;
                box-sizing: content-box;

                & + td.input-cell, & + td.option-col {
                    border-left: 1px dotted @light-border-color;
                }

                select,
                input {
                    height: 100%;
                    width: 100%;
                    border: none;
                    border-radius: 0;
                    padding: 0 5px;

                    &:enabled:hover {
                        background: @input-hover-color;
                    }

                    &:disabled {
                        background: @disabled-color;

                        &:hover {
                            border: none;
                        }
                    }

                    &[type="checkbox"] {
                        height: 60%;
                        width: 60%;
                    }
                }
            }
        }

        &:hover .option-col a {
            visibility: visible;
        }

        &.header-row {
            background: linear-gradient(90deg, #dbb376, transparent 90%);
        }
    }
}

.sticky-table {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 136px;
    pointer-events: auto;
    scrollbar-width: thin;

    th {
        position: sticky;
        top: -1px;
        background: #333;
        z-index: 10; // Make sure that the sticky header stays on top.
    }
}

/* ----------------------------------------- */
/*  Inputs                                   */
/* ----------------------------------------- */
@input-color: #804b34;
@input-bg-color: fade(@input-color, 10%);
@input-hover-color: fade(@input-color, 30%);

input[type="text"],
input[type="number"] {
    background: @input-bg-color;
    border: 1px solid @line-color;
    border-width: 0 0 1px 0;
    border-radius: 3px 3px 0 0;

    &.compact {
        max-width: 4ch;
    }
    &.compact-s {
        max-width: 2ch;
    }

    &:enabled:hover {
        background: @input-hover-color;
    }

    &:disabled:hover {
        border-bottom: 1px solid @line-color; // Override Foundry
    }
}

input[type="checkbox"].compact {
    width: auto;
    height: auto;
    margin: 0;
}

input:disabled::placeholder {
    opacity: 0;
}

textarea {
    background: @input-bg-color;
    border: 1px solid @line-color;
    border-width: 0 0 1px 1px;
    border-radius: 0 0 0 6px;

    &:enabled:hover {
        background: @input-hover-color;
    }
}

a.usable {
    position: relative;
    z-index: 1;

    &.roll::before {
        background: url(assets/ui/dice/dice-twenty-faces-one.svg) no-repeat center center;
    }

    &.light::before {
        background: url(assets/ui/lightbulb.svg) no-repeat center center;
    }

    &::before {
        content: "";
        opacity: 0;
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        min-width: 17px;
        z-index: -1;
        transition: opacity 0.2s ease-out;
    }
    &.offset::before {
        background-position-x: left;
        left: -16px;
    }
    &.offset-r::before {
        background-position-x: right;
        right: -16px;
    }
    &:hover::before {
        opacity: 1;
        transition: opacity 0.2s ease-out;
    }

    &.roll {
        white-space: nowrap;
    }
}

.hexagon-button {
    clip-path: inherit;
    background-color: #d5c3b4;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    position: relative;
    left: 2px;
    top: 2px;
    align-items: center;
    justify-content: center;
    display: inline-flex;

    &:hover {
        text-shadow: 0 0 8px white, 0 0 8px white;
    }

    &:active {
        background-color: rgba(255, 143, 14, 0.342);
    }

    &.disabled {
        color: revert;
    }
}

.attr-box {
    width: 46px;
    height: 54px;
    clip-path: polygon(0 25%, 0 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0);

    &.courage {
        background: rgb(177, 28, 28);
    }

    &.sagacity {
        background: rgb(111, 30, 114);
    }

    &.intuition {
        background: rgb(30, 107, 43);
    }

    &.charisma {
        background: rgb(26, 25, 25);
    }

    &.dexterity {
        background: rgb(180, 190, 31);
    }

    &.agility {
        background: rgb(21, 126, 212);
    }

    &.constitution {
        background: rgb(180, 180, 180);
    }

    &.strength {
        background: rgb(255, 123, 0);
    }
}

.attr-short-name {
    position: absolute;
    font-size: small;
    font-weight: bold;
    top: 3px;
}

.attr-value {
    font-size: large;

    &.attr-increased {
        color: rgb(59, 114, 59);
    }

    &.attr-lowered {
        color: rgb(248, 60, 60);
    }
}

a[disabled], a.disabled {
    pointer-events: none;
    color: #555;
}

div.button-group {
    display: inline-block;
    border: 2px solid black;
    border-radius: 5px;
    vertical-align: text-top;
    height: 23px;
    background: #00000060;
    overflow: hidden;

    input {
        background: none;
        border: none;
        cursor: pointer;
        vertical-align: text-top;
        color: var(--color-text-light-highlight);
        margin-top: -2px;
        width: 20px;

        &:hover {
            background-color: #ffffff40;
        }
    }
}

/* ----------------------------------------- */
/*  Resources                                */
/* ----------------------------------------- */

div.resource-header {
    display: flex;
    flex-wrap: nowrap;
    padding: 6px 10px !important;

    .resource-diamond-wrapper {
        .resource-diamond-wrapper(48px, 4px);

        div.max-resource {
            z-index: 1;
        }

        input {
            z-index: 1;
            text-align: center;
            height: 18px;
            width: 25px;
        }
    }
}

@diamond-border-width: 2px;
.resource-diamond-wrapper(@resource-width, @gap) {
    @diamond-height: 1.4 * @resource-width + 2 * @diamond-border-width;
    @diamond-width: @resource-width + 2 * @diamond-border-width;
    position: relative;
    height: @diamond-height;
    width: @diamond-width;
    background: @nav-border-color;
    clip-path: polygon(0 50%, 50% 100%, 100% 50%, 50% 0);
    margin-left: @diamond-width * -0.5 + @gap;

    &:first-child {
        margin-left: 0;
    }

    &:nth-child(2n) {
        margin-top: @diamond-height * 0.5 + @gap;
    }

    img.resource-icon {
        position: absolute;
        border: none;
        opacity: 15%;

        max-width: @resource-width  * 0.9;
        max-height: @resource-width * 0.9;
    }
}

@resource-fill-angle: -30deg;
.resource-diamond {
    width: calc(100% - 2 * @diamond-border-width);
    height: calc(100% - 2 * @diamond-border-width);
    margin: @diamond-border-width;
    background: linear-gradient(@resource-fill-angle, mix(white, @bg-color, 50), @bg-color);
    clip-path: inherit;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}


.resource-fill {
    @bar-transparency: 0.7;

    position: absolute;
    width: 100%;
    bottom: 0;
    opacity: 0.75;

    &.lifePoints {
        background: linear-gradient(
            @resource-fill-angle,
            rgba(255, 160, 122, @bar-transparency),
            rgba(255, 0, 0, @bar-transparency));
    }

    &.adrenaline {
        background: linear-gradient(
            @resource-fill-angle,
            rgba(255, 255, 0, @bar-transparency),
            rgba(255, 166, 0, @bar-transparency));
    }

    &.arcaneEnergy {
        background: linear-gradient(
            @resource-fill-angle,
            rgba(135, 207, 235, @bar-transparency),
            rgba(0, 0, 255, @bar-transparency));
    }

    &.karmaPoints {
        background: linear-gradient(
            @resource-fill-angle,
            rgba(172, 255, 47, @bar-transparency),
            rgba(0, 128, 0, @bar-transparency));
    }

    &.fatePoints {
        background: linear-gradient(
            @resource-fill-angle,
            rgba(190, 136, 252, @bar-transparency),
            rgba(94, 41, 155, @bar-transparency)
        );
    }
}

#context-menu {
    cursor: auto;

    .context-item img.actor-preview {
        width: 28px;
        height: 28px;
        margin-bottom: -10px;
        margin-right: 3px;
        border: none;
    }

    &.fixed-context {
        position: fixed;
        width: unset;
    }

    &.icon-grid ol.context-items{
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        text-align: end;
    }
}

header.window-header > i {
    flex: 0;
    align-self: center;
}