div#sidebar, div.compendium {
    /* ----------------------------------------- */
    /*  Directories                              */
    /* ----------------------------------------- */
    ol.subdirectory {
        border: none;
        margin-left: 16px;

        & > li {
            position: relative;
            padding-left: 4px;

            &.folder::before {
                height: 18px;
            }

            &.folder::after {
                top: 18px;
                height: calc(100% - 18px);
            }

            &::before {
                content: "";
                position: absolute;
                left: -2px;
                top: 0;
                border-left: 1px dotted #f0f0e0;
                border-bottom: 1px dotted #f0f0e0;
                border-radius: 0 0 0 0px;
                width: 5px;
                height: 23px;
            }

            &:last-child::before {
                border-radius: 0 0 0 4px;
            }

            &::after {
                content: "";
                position: absolute;
                top: 23px;
                left: -2px;
                border-left: 1px dotted #f0f0e0;
                width: 5px;
                height: calc(100% - 22px); // Add 1px for bottom border
            }

            &:last-child::after {
                display: none;
            }
        }
    }
}

// Improving button in actor sidebar
section.sidebar-tab.actors-sidebar button.improving {
    background-color: hwb(115deg 72% 0%);
}

// Remove additional FoundryVTT borders.
div.compendium.directory .directory-item .subdirectory .folder {
    border-left: none;
}
div.compendium .folder .folder .subdirectory {
    border-bottom: none;
}